
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="img/sunset.jpg">
        <div class="caption right-align">
          <h3>Putting the 'fun' in functional</h3>
          <h5 class="light grey-text text-lighten-3">DIGITize</h5>
        </div>
      </li>
      <li>
        <img src="img/starSky.jpg">
        <div class="caption left-align">
          <h3>"What matters to you?",</h3>
          <h5 class="light grey-text text-lighten-3">not "What's the matter with you?"</h5>
        </div>
      </li>
    </ul>
  </div>
  <div class="row center-align">
    <a href="#!/freeplay" class="btn btn-flat waves-effect waves-purple">Test DIGITize with Freeplay</a>
  </div>
