
<div ng-controller="NavbarCtrl">
	  <!-- Modal Structure -->
  <div id="loginModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h3 class="modal-header">Login/Register</h3>
      <div class="row">
	      <form class="col s12 container">
	      	<div class="row">
		        <div class="input-field col s12">
		          <input ng-model="account.email" id="email" type="email" class="validate">
		          <label for="email">Email</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s12">
		          <input ng-model="account.password" id="password" type="password" class="validate">
		          <label for="password">Password</label>
		        </div>
		      </div>
	      </form>
      </div>	
    </div>
    <div class="modal-footer">
		<button class="modal-action modal-close waves-effect waves-red btn-flat">Back</button>
      <button ng-click="register()" class="modal-action modal-close waves-effect waves-green btn-flat">Register</button>
      <button ng-click="login()" class="modal-action modal-close waves-effect waves-green btn-flat">Login</button>
      <button ng-click="loginGoogle()" class="modal-action modal-close waves-effect waves-green btn-flat">Sign in with Google</button>
    </div>
  </div>

	
	<div id="profileModal" class="modal modal-fixed-footer">
		<div class="modal-content">
		  <form>
		  	<legend class="modal-header">Profile Info</legend>
			<div class="row">
				<div class="input-field col s6">
				  <input ng-model="profile.firstName" id="first_name" type="text" class="validate">
				  <label for="first_name">First Name</label>
				</div>
				<div class="input-field col s6">
				  <input ng-model="profile.lastName" id="last_name" type="text" class="validate">
				  <label for="last_name">Last Name</label>
				</div>
			</div>
			<div class="row">
				<div class="col s3">
					<p class="right-align">Discipline:</p>
				</div>
				<div class="col s3">
					<p>
				      <input ng-model="profile.discipline" value="OT" class="with-gap" name="sex" type="radio" id="ot"  />
				      <label for="ot">Occupational Therapy</label>
				    </p>
				</div>
				<div class="col s3">
				    <p>
				      <input ng-model="profile.discipline" value="PT" class="with-gap" name="sex" type="radio" id="pt"  />
				      <label for="pt">Physical Therapy</label>
				    </p>
			    </div>
			    <div class="col s3">
				    <p>
				      <input ng-model="profile.discipline" value="ST" class="with-gap" name="sex" type="radio" id="st"  />
				      <label for="st">Speech Therapy</label>
				    </p>
			    </div>
			</div>
			<div class="row">
				<div class="row">
					<div class="input-field col s12">
					  <input ng-model="profile.location" id="location" type="text">
					  <label for="location">Working Location</label>
					</div>
				</div>
			</div>
		  </form>
		</div>
		<div class="modal-footer">
		  <button ng-click="submitProfile()" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
		</div>
	</div>



	<nav class="deep-purple darken-3">
		<div class="nav-wrapper container">
		  <a href="#!/" class="brand-logo">DIGITize</a>
		  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		  <ul class="right hide-on-med-and-down">
		    <li ng-show="!ifLoggedIn"><a class="modal-trigger waves-effect waves-light" href="#loginModal">Login/Register</a></li>
		    <li ng-show="ifLoggedIn"><a class="waves-effect waves-light" href="#!/profile">Profile</a></li>
		    <li ng-show="ifLoggedIn"><a class="waves-effect waves-light" href="#!/challenges">Challenges</a></li>
		    <li ng-show="ifLoggedIn"><a ng-click="logout()" class="waves-effect waves-light" href="#!/">Logout</a></li>
		  </ul>
		  <ul id="nav-mobile" class="side-nav">
		    <li ng-show="!ifLoggedIn"><a class="modal-trigger waves-effect waves-light" href="#loginModal">Login/Register</a></li>
		    <li ng-show="ifLoggedIn"><a class="waves-effect waves-light" href="#!/profile">Profile</a></li>
		    <li ng-show="ifLoggedIn"><a class="waves-effect waves-light" href="#!/challenges">Challenges</a></li>
		    <li ng-show="ifLoggedIn"><a ng-click="logout()" class="waves-effect waves-light" href="#!/">Logout</a></li>
		  </ul>
		</div>
	</nav>

</div>
        