<div class="container">
	<div class="card-panel hoverable deep-purple lighten-3">
		<h1>Welcome {{profile.firstName}} {{profile.lastName}}</h1>
		<h3 class="right-align" ng-show="profile.location">{{profile.discipline}} at {{profile.location}}</h3>
		<button data-target="editProfileModal" class="modal-trigger btn btn-flat waves-effect waves-green">Edit Profile</buttom>
	</div>
	<div>
		<ul class="collection with-header">
	        <li class="collection-header teal lighten-3"><h4>Patients</h4></li>
	        <li class="collection-item"><div>Add New Patient<button id="add-patient" data-target="addPatientModal" class="btn btn-flat"><i class="material-icons">add</i></button></div></li>
	        <li class="collection-item" ng-repeat="item in profile.patients"><div>{{item.room}} on {{item.dateAdmit}}<a href="#!/patient/{{$index}}" class="secondary-content"><i class="material-icons">details</i></a></div></li>
      	</ul>
	</div>
</div>




			<!-- Modals -->
<div id="editProfileModal" class="modal modal-fixed-footer">
		<div class="modal-content">
		  <form>
		  	<legend class="modal-header">Profile Info</legend>
			<div class="row">
				<div class="input-field col s6">
				  <input ng-model="profile.firstName" id="first_nameEdit" type="text" class="validate">
				  <label class="active" for="first_nameEdit">First Name</label>
				</div>
				<div class="input-field col s6">
				  <input ng-model="profile.lastName" id="last_nameEdit" type="text" class="validate">
				  <label class="active" for="last_nameEdit">Last Name</label>
				</div>
			</div>
			<div class="row">
				<div class="col s3">
					<p class="right-align">Discipline:</p>
				</div>
				<div class="col s3">
					<p>
				      <input ng-model="profile.discipline" value="OT" class="with-gap" name="sex" type="radio" id="otEdit"  />
				      <label for="otEdit">Occupational Therapy</label>
				    </p>
				</div>
				<div class="col s3">
				    <p>
				      <input ng-model="profile.discipline" value="PT" class="with-gap" name="sex" type="radio" id="ptEdit"  />
				      <label for="ptEdit">Physical Therapy</label>
				    </p>
			    </div>
			    <div class="col s3">
				    <p>
				      <input ng-model="profile.discipline" value="ST" class="with-gap" name="sex" type="radio" id="stEdit"  />
				      <label for="stEdit">Speech Therapy</label>
				    </p>
			    </div>
			</div>
			<div class="row">
				<div class="row">
					<div class="input-field col s12">
					  <input ng-model="profile.location" id="locationEdit" type="text">
					  <label class="active" for="locationEdit">Working Location</label>
					</div>
				</div>
			</div>
		  </form>
		</div>
		<div class="modal-footer">
		  <button ng-click="patchProfile()" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
		</div>
	</div>

	<div id="addPatientModal" class="modal modal-fixed-footer">
		<div class="modal-content">
		  <form>
		  	<legend class="modal-header">Patient Info</legend>
			<div class="row">
				<div class="input-field col s6">
				  <input ng-model="patient.room" id="room" type="text">
				  <label for="room">Room Number</label>
				</div>
				<div class="input-field col s6">
				  <input ng-model="patient.dateAdmit" type="text" class="datepicker">
				  <label>Date Admitted</label>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<p class="right-align">Dominant Hand:</p>
				</div>
				<div class="col s3">
					<p>
				      <input ng-model="patient.dominantHand" value="Left-handed" class="with-gap" name="hand" type="radio" id="leftHand"  />
				      <label for="leftHand">Left Hand</label>
				    </p>
				</div>
				<div class="col s3">
				    <p>
				      <input ng-model="patient.dominantHand" value="Right-handed" class="with-gap" name="hand" type="radio" id="rightHand"  />
				      <label for="rightHand">Right Hand</label>
				    </p>
			    </div>
			</div>
			<div class="row">
				<div class="col s3">
					<p class="right-align">Affected Side:</p>
				</div>
				<div class="col s3">
					<p>
				      <input ng-model="patient.affectedSide" value="Both" class="with-gap" name="side" type="radio" id="bothSides"  />
				      <label for="bothSides">Both Sides</label>
				    </p>
				</div>
				<div class="col s3">
				    <p>
				      <input ng-model="patient.affectedSide" value="Left" class="with-gap" name="side" type="radio" id="leftSide"  />
				      <label for="leftSide">Left Side</label>
				    </p>
			    </div>
			    <div class="col s3">
				    <p>
				      <input ng-model="patient.affectedSide" value="Right" class="with-gap" name="side" type="radio" id="rightSide"  />
				      <label for="rightSide">Right Side</label>
				    </p>
			    </div>
			</div>
		  </form>
		</div>
		<div class="modal-footer">
		  <button ng-click="addPatient()" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
		</div>
	</div>


